<app-set-date></app-set-date>
<div class="todayWorkoutContainer">

  <div *ngIf="chooseWorkout" >
    <mat-card class="cards__workout" *ngFor="let plan of plans">
      <button mat-button (click)="getWorkout(plan.title)" class="workout__btn"><h3>{{plan.title}}</h3></button>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let workout of plan.workout">
          <td>{{workout.type}}</td>
          <td>{{workout.name}}</td>
          <td>{{workout.sets}}</td>
          <td>{{workout.reps}}</td>
        </tr>
      </table>
    </mat-card>
  </div>

  <div *ngIf="!chooseWorkout">
    <mat-card class="cards__workout">
      <h3>{{currentWorkout.title}}</h3>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr *ngFor="let workout of currentWorkout.workout">
          <td>{{workout.type}}</td>
          <td>{{workout.name}}</td>
          <td>{{workout.sets}}</td>
          <td>{{workout.reps}}</td>
        </tr>
      </table>
    </mat-card>
  </div>

  <div *ngFor="let exercise of currentWorkout.workout" class="todayWorkoutContainer__inputs">
    <div>
      <h3>{{exercise.name}}</h3>
      <p>Body Part: {{exercise.type}}</p>
      <p>One Rep Max: {{exercise.max}}</p>
      <p>Warmup: {{exercise.warmup}}</p>
    </div>
    <div *ngFor="let rep of exercise.reps; let i = index" class="container-fields">
      {{rep}} x
      <mat-form-field class="fields-reps">
        <input matInput placeholder="Weight" [(ngModel)]="exercise.exercise[i]" name="weight{{i}}">
      </mat-form-field>
    </div>
  </div>


  <!-- <table class="todayWorkoutContainer__table">
    <thead>
      <th>EXERCISE</th>
      <th>SET 1</th>
      <th>SET 2</th>
      <th>SET 3</th>
      <th>SET 4</th>
      <th>SET 5</th>
    </thead>
    <tbody *ngFor="let workout of currentWorkout.workout" class="table__body">
      <td class="body__cell">{{workout.name}}</td>
      <td *ngFor="let rep of workout.reps" class="body__cell">{{rep}} x
        <mat-form-field class="fields-reps">
          <input matInput placeholder="Weight">
        </mat-form-field>
      </td>
    </tbody>
  </table> -->
</div>
