.todayWorkoutContainer{
  width: 100%;
  .cards__workout{
    margin: 10px;
    margin-left: 20px;
    max-width: 280px;
    .workout__btn{
      margin-left: auto;
    }
  }
  .todayWorkoutContainer__inputs{
    margin-left: 20px;
  }
}

.container-fields{
  display: inline-block;

  .fields-reps{
    width: 70px;
  }
}

  .todayWorkoutContainer__inputs{
    margin-left: 20px;
    .input__containerFields{
      display: inline-block;

      .containerFields__reps{
        width: 90px;
      }
    }
  }
