.todayWorkoutContainer{
  margin: 20px;
  margin-bottom: 40px;
  .cards__workout{
    margin: 10px;
    .workout__btn{
      padding-left: 0px;
    }
  }
  .todayWorkoutContainer__inputs{
    margin-left: 20px;
  }

  // .todayWorkoutContainer__table{
  //   border: 1px solid gray;
  //   border-collapse: collapse;
  //   margin: 10px;
  //   .table__body{
  //     border: 1px solid gray;
  //     .body__cell{
  //       height: 20px;
  //       border: 1px solid gray;
  //       border-right: none;
  //       border-left: none;
  //       .fields-reps{
  //         width: 70px;
  //       }
  //     }
  //   }
  // }
}

.container-fields{
  display: inline-block;

  .fields-reps{
    width: 70px;
  }
}

  .todayWorkoutContainer__inputs{
    margin-left: 20px;
    .input__containerFields{
      display: inline-block;

      .containerFields__reps{
        width: 90px;
      }
    }
  }
