<div class="AppContainer">

  <div class="navigation">
    <span class="fa fa-bars fa-2x navigation__menuIcon" aria-hidden="true" (click)="sidenav.open()"></span>
    <button mat-button class="navigation__menuLogout"><a href="http://localhost:8080/logout" class="menuLogout--link">logout</a></button>
  </div>

  <div class="sidemenu" (mouseenter)="sidenav.open()" >
    <p><span class="fa fa-file-o fa-2x sidemenu-item" aria-hidden="true"></span></p>
    <p><span class="fa fa-pie-chart fa-2x sidemenu-item" aria-hidden="true"></span></p>
    <p><span class="fa fa-plus fa-2x sidemenu-item" aria-hidden="true"></span></p>
  </div>

  <mat-sidenav-container class="example-container">

    <mat-sidenav #sidenav class="example-sidenav" (mouseleave)="sidenav.close()">
      <app-navbar (click)="sidenav.close()"></app-navbar>
    </mat-sidenav>

    <div class="example-sidenav-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>

</div>
