.AppContainer{
  background-color: white;
  width: 100%;
  height: 100%;
}

.navigation{
  background-color: #275FA2;
  width: 100%;
  color: white;
  .navigation__menuIcon{
    margin: 12px;
  }
  .navigation__menuLogout{
    float: right;
    margin: 12px;
    text-transform: uppercase;
    .menuLogout--link{
      color: white;
      text-decoration: none;
    }
  }
}

.sidemenu{
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  background-color: #275FA2;
  color: white;
  .sidemenu-item{
    padding: 0px 10px;
  }
}
.example-container {
  display: inline-block;
  width: 80%;
  margin-left: -5.5px;
  height: 100vh;
  background-color: white;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
}

.example-sidenav {
  background-color: #275FA2;
}

@media only screen and (max-width: 400px) {
  .sidemenu{
    display: none;
  }
  .example-container {
    width: 100%;
  }
}
