<div class="container-new-workout">
  <mat-form-field>
    <mat-select placeholder="Exercise" [(ngModel)]="type">
      <mat-option *ngFor="let exercise of exercises"  value="{{exercise}}">{{exercise}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field >
    <input matInput placeholder="Name" [(ngModel)]="name">
  </mat-form-field>
  <app-reps-sets></app-reps-sets>
  <button mat-raised-button color="primary" (click)="addExercise()">ADD</button>
</div>
<div *ngFor="let workout of workouts">
  {{workout.type}}
  {{workout.name}}
  {{workout.sets}}
  {{workout.reps}}
</div>
