<div *ngIf="initialState">
  <button mat-raised-button color="primary" (click)="newWorkout()">ADD NEW WORKOUT</button>
</div>

<div class="container-new-workout" *ngIf="!initialState">
  <form #WorkoutForm="ngForm">
    <mat-form-field >
      <input matInput placeholder="Title" [(ngModel)]="title" name="title">
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Body Part" [(ngModel)]="type" name="type">
        <mat-option *ngFor="let bodyPart of bodyParts"  value="{{bodyPart}}">{{bodyPart}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field >
      <input matInput placeholder="Name" [(ngModel)]="name" name="name">
    </mat-form-field>
    <app-reps-sets></app-reps-sets>
    <button mat-raised-button color="primary" (click)="addExercise()">ADD</button>
    <table>
      <tr>
        <th>TYPE</th>
        <th>NAME</th>
        <th>SETS</th>
        <th>REPS</th>
        <th></th>
      </tr>
      <tr *ngFor="let exercise of exercises">
        <td>{{exercise.type}}</td>
        <td>{{exercise.name}}</td>
        <td>{{exercise.sets}}</td>
        <td>{{exercise.reps}}</td>
        <button mat-raised-button color="warn" (click)="deleteExercise(exercise)">DELETE</button>
      </tr>
    </table>
    <button mat-raised-button color="primary" (click)="saveWorkout(); WorkoutForm.reset()">SAVE WORKOUT</button>
  </form>
</div>

<table *ngFor="let plan of plans">
  {{plan.title}}
  <tr>
    <th>TYPE</th>
    <th>NAME</th>
    <th>SETS</th>
    <th>REPS</th>
    <button mat-raised-button color="basic" (click)="editPlan(plan)">EDIT</button>
    <button mat-raised-button color="warn" (click)="deletePlan(plan)">DELETE</button>
  </tr>
  <tr *ngFor="let workout of plan">
    <td>{{workout.type}}</td>
    <td>{{workout.name}}</td>
    <td>{{workout.sets}}</td>
    <td>{{workout.reps}}</td>
  </tr>
</table>
